@import '~antd/dist/antd.css';

.logo {
  color: white;
  font-size: 2em;
}

/* Desktop */
@media only screen and (min-width: 1024px) {
  /* from bootstrap.css*/
  .col {
    position: relative;
    width: 100%;
    padding-right: 15px;
    padding-left: 15px;
    -ms-flex: 0 0 25%;
    flex: 0 0 25%;
    max-width: 25%;
  }

  /* from bootstrap.css*/
  .row {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    margin-right: -15px;
    margin-left: -15px;
  }

  .card {
    justify-content: center;
    margin-top: 2%;
    margin-bottom: 2%;
  }

  .button {
    padding-top: 10%;
  }

  .one-image {
    height: 210px;
    width: auto;
    max-width: 100%;
  }
  
}

/* Mobile phones */
@media only screen and (min-width : 320px) and (max-width : 1024px) {
  /* from bootstrap.css*/
  .col {
    position: relative;
    width: 100%;
    -ms-flex: 0 0 100%;
    flex: 0 0 100%;
    max-width: 100%;
    margin-left: auto !important;
    margin-right: auto !important;
  }

  /* from bootstrap.css*/
  .card {
    justify-content: center;
    padding-top: 2em;
    padding-bottom: 2em;
  }
  
  .one-image {
    height: auto;
    width: 300px;
    max-height: 50%;
  }

  .button {
    padding-top: 2em;
  }
}




